{% extends "base.html" %}
{% load static %}
{% block title %}Web日志分析{% endblock %}
{% block nav_webanalysis %}active{% endblock %}
{% block container %}
    <div class="row">
    <div class="col-md-6">
        <form class="form-inline" >
            <div class="form-group">
                <label class="form-label">文件选择</label>
                <select class="form-control" id="accesslog_file">
                    {% for item in files %}
                    <option value="{{ item.id }}">{{ item.name }}({{ item.created_time }})</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" class="btn btn-default" value="上传文件">
        </form>
    </div>
    <div class="col-md-6">
        <form class="form-inline" method="POST" enctype="multipart/form-data" action="{% url 'webanalysis:upload' %}">
            {% csrf_token %}
            <div class="form-group">
                <label class="form-label sr-only">上传文件</label>
                <input type="file" name="log" />
            </div>
            <input type="submit" class="btn btn-default" value="上传文件">
        </form>
    </div>
</div>
    <div class="row">
    <br/>
{# echarts图形#}
    <div class="col-md-6">
        <div id="dist_status_code" style="width: 100%;height: 300px"></div>
    </div>
    <div class="col-md-6">
        <div id="trend_visit" style="width: 100%;height: 300px"></div>
    </div>
    <div class="col-md-6">
        <div id="request_user_ip" style="width: 100%;height: 600px"></div>
    </div>
     <div class="col-md-6">
        <div id="http_request_user_host" style="width: 100%;height: 600px"></div>
    </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'echarts-2.2.7/build/dist/echarts-all.js' %}"></script>
{% endblock %}

{% block js %}
{#    进行echarts的初始化#}
    var chart_dist_status_code = echarts.init(document.getElementById('dist_status_code'));
    var chart_trend_visit = echarts.init(document.getElementById('trend_visit'));
    var chart_request_user_ip = echarts.init(document.getElementById('request_user_ip'));
    var chart_http_request_user_host = echarts.init(document.getElementById('http_request_user_host'));
    var option_dist_status_code = {
    title : {
        text: '请求状态码分布',
        subtext: '',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient : 'vertical',
        x : 'left',
        data:[]
    },
    toolbox: {
        show : true,
         x: 'right',
         y: 'center',
        orient : 'vertical',
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
{#            magicType : {#}
{#                show: true,#}
{#                type: ['pie', 'funnel'],#}
{#                option: {#}
{#                    funnel: {#}
{#                        x: '25%',#}
{#                        width: '50%',#}
{#                        funnelAlign: 'left',#}
{#                        max: 1548#}
{#                    }#}
{#                }#}
{#            },#}
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    series : [
        {
            name:'请求状态码分布',
            type:'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[

            ]
        }
    ]
};

    var option_trend_visit =  {
    title : {
        text: '每分钟请求数状态图',
        subtext: '',
        x:'center'
    },
    tooltip : {
        trigger: 'axis',
        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
        }
    },
    legend: {
        data:[]
    },
    toolbox: {
        show : true,
        orient: 'vertical',
        x: 'right',
        y: 'center',
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
{#            magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},#}
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            data : []
        }
    ],
    yAxis : [
        {
            type : 'value'
        }
    ],
    series : [
        {
            name:'直接访问',
            type:'bar',
            data:[320, 332, 301, 334, 390, 330, 320]
        }
    ]
};

    var option_request_user_ip = option = {
    title : {
        text: '用户IP请求数图'
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['最高用户IP']
    },
    toolbox: {
        show : true,
         x: 'right',
         y: 'center',
        orient : 'vertical',
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            data : []
        }
    ],
    yAxis : [
        {
            type : 'value',
            axisLabel : {
                formatter: '{value}'
            }
        }
    ],
    series : [
        {
            name:'最高请求IP次数',
            type:'line',
            data:[],
            markPoint : {
                data : [
                ]
            },
            markLine : {
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
        }
    ]
};
    var option_http_request_user_host = {
    title : {
        text: 'IP多次请求缓存向用户吐出的流量值',
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:[]
    },
    toolbox: {
        show : true,
         x: 'right',
         y: 'center',
        orient : 'vertical',
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType: {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'value',
            boundaryGap : [0, 0.01]
        }
    ],
    yAxis : [
        {
            type : 'category',
            data : []
        }
    ],
    series : [
        {
            name:'多次请求向用户吐出的流量总值',
            type:'bar',
            data:[]
        }
    ]
};

    function reload(){
        var id = jQuery('#accesslog_file').val();
        reload_dist_status_code(id);
        reload_trend_visit(id);
        reload_request_user_ip(id);
        reload_http_request_user_host(id);
    }
{#    将ajax获取到的值传到data上面的option_dist_status_code#}
    function reload_dist_status_code(id){
        jQuery.get("{% url 'webanalysis:dist_status_code' %}",{'id':id},function(result){
            if (200 ==  result['code']){
                chart_dist_status_code.clear();
                option_dist_status_code['legend']['data'] = result['result']['legend'];
                option_dist_status_code['series'][0]['data'] = result['result']['series'];
                chart_dist_status_code.setOption(option_dist_status_code);
        }
    },'json')};
{#每分钟IP请求次数#}
    function reload_trend_visit(id){
        jQuery.get("{% url 'webanalysis:trend_visit' %}",{'id':id},function(result){
            if (200 ==  result['code']){
                chart_trend_visit.clear();
                option_trend_visit['xAxis'][0]['data'] = result['result']['xAxis'];
                option_trend_visit['series'][0]['data'] = result['result']['series'];
                chart_trend_visit.setOption(option_trend_visit);
        }
    },'json')};
{#    IP用户请求书#}
    function reload_request_user_ip(id){
        jQuery.get("{% url 'webanalysis:request_user_ip' %}",{'id':id},function(result){
             if (200 ==  result['code']){
{#                画图的时候clear下#}
                chart_request_user_ip.clear();
                option_request_user_ip['xAxis'][0]['data'] = result['result']['xAxis'];
                option_request_user_ip['series'][0]['data'] = result['result']['series'];
                chart_request_user_ip.setOption(option_request_user_ip);
        }
    },'json')};

    function reload_http_request_user_host (id){
        jQuery.get("{% url 'webanalysis:http_request_user_host' %}",{'id':id},function(result){
             if (200 ==  result['code']){
                chart_http_request_user_host.clear();
                option_http_request_user_host['yAxis'][0]['data'] = result['result']['yAxis'];
                option_http_request_user_host['series'][0]['data'] = result['result']['series'];
                chart_http_request_user_host.setOption(option_http_request_user_host);
        }
    },'json')};
    reload();
{#    当更改下拉框的时候重载#}
    jQuery('#accesslog_file').on('change',function(){
        reload();
    });
{% endblock %}