{% extends "base.html" %}

{% load static %}

{% block title %}资产管理{% endblock %}
{% block nav_asset %}active{% endblock %}
{% block container %}
<table id="table_asset" class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>主机名</th>
            <th>IP地址</th>
            <th>操作系统</th>
            <th>架构</th>
            <th>内存</th>
            <th>CPU</th>
            <th>磁盘</th>
            <th>发现时间</th>
            <th>最有发现时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}

{% block dialogs %}
<div class="modal fade dialog-view" id="dialog-edit-asset" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">编辑</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal form-edit-asset">
              {% csrf_token %}
              <input type="hidden" name="id" value="" />
              <div class="form-group">
                  <label class="control-label col-md-3">名称</label>
                  <div class="col-md-9">
                      <input type="text" class="form-control" name="name" value=""/>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-md-3">操作系统</label>
                  <div class="col-md-9">
                      <input type="text"class="form-control"  name="os" value=""/>
                  </div>
              </div>
          </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary btn-update-asset">更新</button>
        </div>
    </div>
  </div>
</div>
<div class="modal fade dialog-resource" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">资源监控</h4>
        </div>
        <div class="modal-body">
            <div id="chart-resource" style="width: 850px;height:400px;"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
    </div>
  </div>
</div>
<div class="modal fade dialog-resource-alarm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">最近20条报警</h4>
        </div>
        <div class="modal-body ">
              {% csrf_token %}
              <input type="hidden" name="id" value="" />
              <table class="table table-bordered table-hover table-striped table-condensed table_resourse_alarm">
                    <thead>
                        <tr>
                            <th>时间</th>
                            <th>内容</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                             <td ><input type="text"  style="border:0" name="alarm_time" size="15" readonly/></td>
                            <td ><input type="text"   style="border:0"name="alarm_ip" size="25" readonly/></td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'echarts/echarts.min.js' %}" ></script>
{% endblock %}

{% block js %}

var table = jQuery('#table_asset').DataTable({
    "language": {
        "processing": "处理中...",
        "lengthMenu": "显示 _MENU_ 项结果",
        "zeroRecords": "没有匹配结果",
        "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
        "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
        "infoFiltered": "(由 _MAX_ 项结果过滤)",
        "infoPostFix": "",
        "search": "搜索:",
        "searchPlaceholder": "搜索...",
        "url": "",
        "emptyTable": "表中数据为空",
        "loadingRecords": "载入中...",
        "infoThousands": ",",
        "paginate": {
            "first": "首页",
            "previous": "上页",
            "next": "下页",
            "last": "末页"
        },
        "aria": {
            paginate: {
                first: '首页',
                previous: '上页',
                next: '下页',
                last: '末页'
            },
            "sortAscending": ": 以升序排列此列",
            "sortDescending": ": 以降序排列此列"
        },
        "decimal": "-",
        "thousands": "."
    },
    ajax : {
        url : '{% url "asset:list_ajax" %}',
        dataSrc: 'result',
    },
    columns : [
        {
            "data" : function(row, type, set, meta) {
                return row['name'];
            }
        },
    {
            "data" : function(row, type, set, meta) {
                return row['ip'];
            }
        },
        {"data" : "os"},
        {"data" : "arch"},
        {"data" : "mem"},
        {"data" : "cpu"},
        {"data" : "disk"},
        {"data" : "created_time"},
        {"data" : "last_time"},
        {
            "data" : function(row) {
                return '<a class="btn btn-info btn-xs btn-resource-asset" href="javascript:void(0)" data-id="' + row['id'] + '">监控</a> ' +
                '<a class="btn btn-info btn-xs btn-resource-alarm" href="javascript:void(0)" data-id="' + row['id'] + '">告警</a> ' +
                '<a class="btn btn-success btn-xs btn-edit-asset" href="javascript:void(0)" data-id="' + row['id'] + '">编辑</a> ' + 
                '<a class="btn btn-danger btn-xs btn-delete-asset" href="javascript:void(0)" data-id="' + row['id'] + '" >删除</a>';
            }
        },
    ]
});

jQuery('#table_asset').on('click', '.btn-edit-asset', function() {
    var id = jQuery(this).attr('data-id');
    var form = jQuery('.form-edit-asset');
    jQuery.get('{% url "asset:get_ajax" %}', {'id' : id}, function(result) {
        if(result['code'] == 200) {
            form.find('[name=id]').val(result['result']['id']);
            form.find('[name=name]').val(result['result']['name']);
            form.find('[name=os]').val(result['result']['os']);
            jQuery('.dialog-view').modal('show');
        jQuery('#dialog-edit-asset').modal({
            show: true,
            backdrop: 'static',
            keyboard: false
        });
        } else if(result['code'] == 400) {
                var errors = [];
         jQuery.each(result['errors'], function(k, v) {
            errors.push(v);
        });
        swal("验证失败:", errors.join('\n'),"error")
    } else if(result['code'] == 403) {
        swal({
            title: "未登录",
            text: "",
            timer: 2000,
            showConfirmButton: false
        });
     }
    }, 'json');
});
{# 将用户编辑的内容进行更新#}
jQuery('.btn-update-asset').on('click', function() {
  var data = jQuery('.form-edit-asset').serializeArray();
  jQuery.post("{% url 'asset:update_ajax' %}", data, function(result) {
      if(result['code'] == 200) {
          swal({
                title: "成功",
                text: "",
                type: "success",
                closeOnConfirm: false
              }, function() {
                  jQuery('#dialog-create-asset').modal('hide');
                  //关闭sweetalert
                  swal.close();
                  /*刷新table*/
                  window.location.reload()
              });

      } else if(result['code'] == 400) {
          var errors = [];
          jQuery.each(result['errors'], function(k, v) {
              errors.push(v);
          });
          swal("验证失败:", errors.join('\n'),"error")
      } else if(result['code'] == 403) {
          swal({
              title: "未登录",
              text: "",
              timer: 2000,
              showConfirmButton: false
          });
      }
  }, 'json');
});

var chart_resource = echarts.init(document.getElementById('chart-resource'));
var chart_resource_option = {
    title: {
        text: 'CPU、内存使用率'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:['CPU','内存']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    toolbox: {
        feature: {
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: []
    },
    yAxis: {
        type: 'value'
    },
    series: [
        {
            name:'CPU',
            type:'line',
            stack: 'CPU',
            data: []
        },
        {
            name:'内存',
            type:'line',
            stack: '内存',
            data: []
        }
    ]
};

var th = null;
function reload_resource_chart(id) {
{#    '_' : (new Date()).getTime()添加一个时间戳，防止ajax缓存#}
    jQuery.get('{% url 'asset:resource_ajax' %}', {'id' : id, '_' : (new Date()).getTime()}, function(result) {
        if(result['code'] == 200) {
            chart_resource_option['xAxis']['data'] = result['result']['xAxis'];
            chart_resource_option['series'][0]['data'] = result['result']['CPU_datas'];
            chart_resource_option['series'][1]['data'] = result['result']['MEM_datas'];
            chart_resource.setOption(chart_resource_option);
        }
    }, 'json');
}

jQuery('#table_asset').on('click', '.btn-resource-asset', function() {
    var id = jQuery(this).data('id'); //jQuery(this).attr('data-id');
{#    打开dialog直接刷新#}
    reload_resource_chart(id);
{#判断Interval的值，如果值为空，则每5秒刷新一次#}
    if(th === null) {
        th = setInterval(function() {
            reload_resource_chart(id);
        }, 5 * 1000);
    }
    jQuery('.dialog-resource').modal('show');
});
{#当关闭dialog的时候，如果Interval的值不为空，直接将其指定为空#}
jQuery('.dialog-resource').on('hidden.bs.modal', function (e) {
    if(th !== null) {
        clearInterval(th);
        th = null;
    }
});

jQuery('#table_asset').on('click', '.btn-delete-asset', function() {
    var id = jQuery(this).attr('data-id');
    swal({ 
        title: "确定删除吗？", 
        text: "", 
        type: "warning",
        showCancelButton: true, 
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "确定删除！", 
        cancelButtonText: "取消删除！",
        closeOnConfirm: false
    },
    function() {
        jQuery.get('{% url "asset:delete_ajax" %}', {'id' : id}, function(result) {
            if(result['code'] == 200) {
                swal({ 
                    title: "删除成功", 
                    text: "", 
                    type: "success",
                    showCancelButton: false, 
                    confirmButtonText: "确定", 
                    closeOnConfirm: false
                },
                function() {
                    table.ajax.reload(null, false);
                    swal.close();
                });
            }
        }, 'json');
        
    });
    
});

{#    点击告警弹出告警框#}
jQuery('#table_asset').on('click', '.btn-resource-alarm', function() {
    var id = jQuery(this).attr('data-id');
    var form = jQuery('.table_resourse_alarm');
    jQuery.get('{% url "asset:get_alarm" %}', {'id' : id}, function(result) {
        if(result['code'] == 200) {
             form.find('[name=alarm_time]').val(result['result']['now_time']);
             form.find('[name=alarm_ip]').val('连续30分钟CPU使用率超过％６');
            jQuery('.dialog-resource-alarm').modal('show');
        jQuery('#dialog-resource-alarm').modal({
            show: true,
            backdrop: 'static',
            keyboard: false
        });
        } else if(result['code'] == 400) {
                var errors = [];
         jQuery.each(result['errors'], function(k, v) {
            errors.push(v);
        });
        swal("验证失败:", errors.join('\n'),"error")
    } else if(result['code'] == 403) {
        swal({
            title: "未登录",
            text: "",
            timer: 2000,
            showConfirmButton: false
        });
     }else if(result['code'] == 303) {
        swal("此服务器连续30分钟没有告警！")
     }
    }, 'json');
});

{% endblock %}
{#通过sql语句查询与当前时间相隔10分钟以内的数据。#}
{#select ip,count(*) from asset_resource where (created_time between date_add(now(), #}
{#interval - 10 minute) and  now()) and cpu>6 group by ip having count(*) >2;#}